@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  max-width: 1350px;
  margin: auto;
  min-height: 90vh;
  padding: 10px;
}

.pic {
  width: 100%;
  height: 20vh;
}

.card {
  width: 340px;
  height: 30vh;
  
}

.con {
  background-color: rgb(218, 196, 196);
  
}

/* .About p{

} */

.footer {
 padding: 0%;
}